<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>969982161265-tv93fmbacp7fnupkpflh19kjulg6qmk7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.969982161265-tv93fmbacp7fnupkpflh19kjulg6qmk7</string>
	<key>API_KEY</key>
	<string>AIzaSyDdvjAi_G9nwo3uZfj2lQC2lCG8TfyILIA</string>
	<key>GCM_SENDER_ID</key>
	<string>969982161265</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.saraholoumi.PortioPass</string>
	<key>PROJECT_ID</key>
	<string>portiopass</string>
	<key>STORAGE_BUCKET</key>
	<string>portiopass.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:969982161265:ios:2bc3eaf4ca0d0ea17046d0</string>
	<key>DATABASE_URL</key>
	<string>https://portiopass.firebaseio.com</string>
</dict>
</plist>